#first{
     border: 2px solid black;
     width: 500px;
     height: 700px;
}

h1{
    text-align: center;
}

img{
        margin-left: 110px;
}

h4{
    margin-left: 100px;
}

p{
    margin-left: 150px;
}

/* .first{
        margin-left: 180px;
        margin-top: 50px;
        border: 3px solid black;
        width: 87px;
        
} */
 .first{
     position: relative;
     left: 38%;
     top: 10px;
     transform: all 2s ease 1;
 }
button:hover{
              background-color: red;
              color: white;
}

div{
      background-image: url(https://img.freepik.com/free-vector/blur-pink-blue-abstract-gradient-background-vector_53876-174836.jpg?semt=ais_hybrid&w=740&q=80);

}