*{
    margin: 0px;
}
#chess-board{
    border: 2px solid black;
}
.box{
     width:12.5%;
     height: 100px;
     border: 2px solid;
}
.box:hover{
    border: 3px solid red;
}
.black{
    background-color: black;
}
.white{
     background-color: white;
}
.row{
    display: flex;
    flex-direction: row;
}