*{
    color: red;
}
h1{
    text-align: center;
    color: chocolate;
    text-transform: capitalize;
    text-decoration: double underline;
   
}

#name{
    text-transform: capitalize;
    color: brown;
}

p{color: rgb(18, 7, 244);
    font-size: 25px;
    font-style: italic;
    
}

body{
      background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjU0NmJhdGNoMy1teW50LTM0LWJhZGdld2F0ZXJjb2xvcl8xLmpwZw.jpg);
      background-repeat: no-repeat;
      background-size: cover;

}
a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}

