
header{
        background-color: black;
        width: 1500px;
        height: 50px;
        border: 2px solid black;
        padding-top: 25px;
}

header a{
    color: white;
    margin-left: 85px;
    text-decoration: none;
    font-size: large;
    
}

#first {
          border: 2px solid black;
          background-color: black;
          
          width: 1500px;
          height: 500px;
          margin-top: 1px;
          margin-left: 1px;
          padding: 1px;
}

div{
     border: 0px solid red;
     
     width: 150px;
     height: 350px;
     margin-top: 150px;
     margin-left: 150px;
     padding-left: 10px;
     display: inline-block;
     color: white;
}

#aside{
    border: 0px solid black;
    width: 15%;
    height: 800px;
    margin: 0px;
    background-color: aquamarine;
}

#aside{
       h3{
         color: black;

       }
}
#aside a{
    color: black;
    margin-top: 5px;
    display: block;
    
    text-decoration: none;
}

