
     .login-container {
      background: white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      width: 300px;
      position: relative;
      left: 560px;
      top: 160px;
      
    }
    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: rgb(76, 76, 76);
    }
    .input-group {
      margin-bottom: 15px;
    }
    label {
      display: block;
      margin-bottom: 5px;
      font-size: 14px;
      color: rgb(76, 76, 76);
    }
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #c4c1c1;
      border-radius: 6px;
      font-size: 14px;
    }
    button {
      width: 100%;
      padding: 10px;
      background: #10a37f;
      border: none;
      border-radius: 6px;
      color: white;
      font-size: 16px;
      cursor: pointer;
    }
    button:hover {
      background: #1db28c;
    }