*{
    margin: 0px;
    
}
nav{
    border: 0px solid;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: antiquewhite;
}
nav img{
    width: 10%;
    height: 30px;
    position: relative;
    left: 150px;
}
nav input{
       width: 30%;
       height: 20px;
       position: relative;
       left: 170px;
}
 nav p{
    position: relative;
    left: 530px;
}
button{
    position: relative;
    left: 580px;

}
button:hover{
    border: 5px solid red;
    background-color: red;
    color: white;
    border-radius: 3px;
    font-size: 16px;
}

header{
    border: 0px solid;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
     background-color: bisque;
}
header a{
    text-decoration: none;
    color: black;
    position: relative;
    left: 150px;
    margin-left: 20px;
}
.header{
    position: relative;
    left: 700px;
}

main{
    border: 2px solid;
    background-color: rgb(236, 229, 218);
    height: 2400px;

}
h2{
    position: relative;
    left: 60px;
    margin-bottom: 10px;
    margin-top: 50px;
}
main .poster{
    width: 15%;
    height: 400px;
    margin-left: 60px;
}
main .div1{
    display: inline-block;
    font-size: 18px;
    margin-left: 60px;
    
}
main .div2{
    display: inline-block;
    font-size: 18px;
    margin-left: 180px;
}
main .div3{
    display: inline-block;
    font-size: 18px;
    margin-left: 180px;
}
main .div4{
    display: inline-block;
    font-size: 18px;
    margin-left: 100px;
}
main .div5{
    display: inline-block;
    font-size: 18px;
    margin-left: 140px;
}
#banner{
    width: 92%;
    height: 100px;
    margin-top: 60px;
    margin-bottom: 20px;
    position: relative;
    left: 60px;
}
main .items{
    width: 15%;
    margin-left: 60px;
    margin-bottom: 80px;
}
main #prime{
    border: 2px solid;
    width: 100%;
    height: 650px;
    background-color: rgb(123, 187, 182);
    color: white;
    margin-bottom: 50px;
}
#prime2{
    margin-top: 80px;

}
#prime3{
    margin-left: 55px;
    margin-bottom: 20px;
}
.prime{
      width: 16%;
    height: 400px;
    margin-left: 50px;
    
}
.items2{
    width: 15%;
    height: 400px;
    margin-left: 60px;    
}
main .div6{
    display: inline-block;
    font-size: 18px;
    margin-left: 60px;
    
}
main .div7{
    display: inline-block;
    font-size: 18px;
    margin-left: 70px;
}
main .div8{
    display: inline-block;
    font-size: 18px;
    margin-left: 120px;
}
main .div9{
    display: inline-block;
    font-size: 18px;
    margin-left: 60px;
}
main .div10{
    display: inline-block;
    font-size: 18px;
    margin-left: 100px;
}
body {
  font-family: "Segoe UI", sans-serif;
  background: #f5f5f5;
}


.footer {
  background-color: #222;
  color: #ccc;
  padding: 40px 20px 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1 1 220px;
  margin: 20px;
}

.footer-section h3,
.footer-section h4 {
  color: #fff;
  margin-bottom: 15px;
}

.footer-section p,
.footer-section a {
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
  line-height: 1.8;
}

.footer-section a:hover {
  color: #fff;
}
